<div style="position: relative; overflow: hidden;">




    <div style=" position: absolute; top: 0px; left: 0px; 
        display: table;
        margin: 0 auto;
        ">
        <!-- <img src="istock.jpg" border="0" /> -->

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="3000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="img/carrousel/img1.png" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="img/carrousel/i2.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="img/carrousel/i3.jpg" alt="Third slide">
                </div>
            </div>
        </div>

    </div>

    <div style=" position: relative; z-index: 9000;">

        <div style="height: 150px;"></div>

        <!-- lateral direita cinza: -->

        <div class="home_direita_cinza">RESERVA DE MATRÍCULA
            <div class="texto"><a href="?acao=reserva_de_matricula">Clique aqui!</a>

            </div>
        </div>


        <map id="ImgMap0" name="ImgMap0">
            <area shape="poly" title="Ensino Fundamental 2" coords="342,178,345,333,500,418,498,254" href="/wp-content/uploads/square.png"
                target="_blank" />
            <area shape="poly" title="Ensino Fundamental 1" coords="170,95,173,250,328,335,326,171" href="/wp-content/uploads/square.png"
                target="_blank" />
            <area shape="poly" title="Educação Infantil" coords="3,8,6,163,161,248,159,84" href="/wp-content/uploads/square.png"
                target="_blank" />
        </map>

        <img src="img/flat-900.png" style="

display: block;
margin-left: auto;
margin-right: auto;
z-index: 1;" usemap="#ImgMap0" />




        <div style="
margin-top: -30px;
background-color: #FF8224;
text-align: left

">
            <div style="font-size: 16px; padding-left: 20px; color: #ffffff">DIA A DIA NO
                PORTAL</div>
            <div style="height: 110px; ">
                <div style="height: 92px;">
                    <table border="0" cellspacing="0" cellpadding="0" style="margin: 0px auto">
                        <tr>
                            <td>
                                <a href="#">
                                    <div style="height: 100%;"><img src="slices/proj_r1_c1.gif" style="height: 92px; width: auto;" /></div>
                                </a>
                            </td>
                            <td>
                                <a href="#">
                                    <div style="height: 100%;"><img src="slices/proj_r1_c2.gif" style="height: 92px; width: auto;" /></div>
                                </a>
                            </td>
                            <td>
                                <a href="#">
                                    <div style="height: 100%;"><img src="slices/proj_r1_c3.gif" style="height: 92px; width: auto;" /></div>
                                </a>
                            </td>
                            <td>
                                <a href="#">
                                    <div style="height: 100%;"><img src="slices/proj_r1_c4.gif" style="height: 92px; width: auto;" /></div>
                                </a>
                            </td>
                            <td>
                                <a href="#">
                                    <div style="height: 100%;"><img src="slices/proj_r1_c5.gif" style="height: 92px; width: auto;" /></div>
                                </a>
                            </td>
                            <td>
                                <a href="#">
                                    <div style="height: 100%;"><img src="slices/proj_r1_c6.gif" style="height: 92px; width: auto;" /></div>
                                </a>
                            </td>
                            <td>
                                <a href="#">
                                    <div style="height: 100%;"><img src="slices/proj_r1_c7.gif" style="height: 92px; width: auto;" /></div>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


        
    </div>






</div>